<!-- 
  File name: home.html.erb
  Description: HTML document responsible for gathering and show the main information about the application on the homepage 
-->

<!DOCTYPE html>
<html lang="en">
  <body>

    <!-- Marketing messaging and featurettes\
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <%= render :partial => 'static_pages/services' %>
    <%= render :partial => 'static_pages/portifolio' %>
    <%= render :partial => 'static_pages/about' %>
    <%= render :partial => 'static_pages/contact' %>
      <!-- START THE FEATURETTES -->
      <a name = "sobre"></a>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">gitting <span class="text-muted">é um trabalho colaborativo desenvolvido na Universidade de Brasília</span></h2>
          <p class="lead">Somos alunos da disciplina de técnicas de programação visando melhorar o sistema de avaliação de algumas disciplinas por meio de repositório no github </p>
        </div>
        <div class="col-md-5">
          <%=image_tag("lupa.jpg", height: '400', width: '400')%>
        </div>
      </div>

      
      <!-- /END THE FEATURETTES -->
      <footer>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../assets/stylesheets/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="javascript/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascript/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="javascript/jquery.easing.min.js"></script>
    <script src="javascript/jquery.fittext.js"></script>
    <script src="javascript/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="javascript/creative.js"></script>
  </body>
</html>
