<!-- HTML document responsible for gathering and show the main information about the application on the homepage -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Pagina Inicial</title>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../assets/stylesheets/carousel.css" rel="stylesheet">
  </head>
    <!-- Create a slideshow -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%=image_tag("slide1.jpg")%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Uma nova forma de comparar os repositórios</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag("slide2.png") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Vem aí...</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag("slide3.jpg")%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Gitting</h1>
              <p><a class="btn btn-lg btn-primary" href="#informações" role="button">Saiba Mais</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">&lsaquo;</span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">&rsaquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <a name = "informações"></a>
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <%=image_tag("disciplinas_image.png", height: '140', width: '140')%>
          <h2>Crie suas disciplinas</h2>
          <p>Agrupe repositórios que você queria acompanhar em disciplinas para garantir um melhor controle e acesso as informação que são importantes.</p>
        </div>
        <div class="col-lg-4">
          <%=image_tag("informations_image.png", height: '140', width: '140')%>
          <h2>Vizualize as informações</h2>
          <p>É possivel vizualizar diversos dados sobre esses repositórios, comparar valores entre eles e ter um controle de gráficos sobre o andamento do projeto e participação de colaboradores.</p>
        </div>
        <div class="col-lg-4">
          <%=image_tag("avalie_image.png", height: '140', width: '140')%>
          <h2>Avalie os projetos</h2>
          <p>Envie seu feedback aos colaboradores para que exista uma interação entre aqueles que estão sendo avaliados e auxilar na melhoria de cada um dos projetos.</p>
        </div>
      </div>

      <!-- START THE FEATURETTES -->
      <a name = "sobre"></a>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">gitting <span class="text-muted">um trabalho colaborativo desenvolvido na Universidade de Brasília</span></h2>
          <p class="lead">Somos alunos da disciplina de técnicas de programação visando melhorar o sistema de avalação de algumas disciplinas por meio de repositório no github </p>
        </div>
        <div class="col-md-5">
          <%=image_tag("lupa.jpg", height: '400', width: '400')%>
        </div>
      </div>

      
      <!-- /END THE FEATURETTES -->
      <footer>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../assets/stylesheets/bootstrap.min.js"></script>
  </body>
</html>
