<a data-parent="#accordion" data-toggle="collapse" href="#description">Descrição
</a>
<table class="table" id="description">
  <tbody>
    <tr>
      <td>
        <p>
          <%= @discipline.discipline_description%>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<a data-parent="#accordion" data-toggle="collapse" href="#people">Pessoas</a>

<table class="table" id="people">
  <tbody>
    <tr>
      <td>
        <b>
          <p>Criador:
          </b>
          <%= @owner.username%>
        </p>

        <b>
          <p>Participantes:
          </b>
        </p>

        <% @participants.each do |participant|%>
        <p><%= participant.username %>
        </p>

        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  $("#description").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $("#people").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
</script>

<% if current_user.id != @owner.id && @discipline.is_registered? == false %>
<%= link_to 'Inscreva-se', :controller => 'inscriptions', :action => 'create', :user_id=>"#{current_user.id}", :discipline_id=>"#{@discipline.id}", :class=>"btn btn-primary btn-sm"%>

<% end %>
<% if current_user.id == @owner.id %>
<%= link_to 'Excluir', @discipline, method: :delete, data: { confirm: 'Tem certeza que deseja excluir essa disciplina?' }, class: "btn btn-danger btn-xs", style: "color:white; text-decoration:none;" %>
<% end %>
