<!--
File name: show.html.erb
Description: This file contains what will show independent the page show a specific discipline.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gitting:
    <%= @discipline.discipline_name%></title>
  </head>
  <body>
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">
              <%= @discipline.discipline_name%>
            </a>
          </li>
          <li>
            <%= render :partial => 'disciplines/details' %>
          </li>
        </ul>
      </div>

      <!-- /#sidebar-wrapper -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <p class="btn btn-primary" href="#menu-toggle" id="menu-toggle">>></p>
              <div class="container-discipline">
                <%= render :file => 'groups/index' %>
                <br>
                <%= link_to raw("<i class=\"fa fa-users\"> Criar um grupo </i>"),
                      new_discipline_group_path(@discipline), class: "btn btn-primary  btn-small"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
    </script>
  </body>
  </html>
