<!--
  File name: index.html.erb
  Description: This file contains what will show independent the page to represent all groups
-->
<!DOCTYPE html>
<html lang="en">
  <body style="padding-top: 6%; padding-left:2%;">
    <div class="row">
        <div class="input-group" style ="width:70%;padding-left:30%;">
          <center>
          <%= form_tag(discipline_path(@discipline.id), :method => :get) do %>
          <%= text_field_tag 'search',nil, placeholder: 'Procure por grupos...', :class => "form-control" %>
        </center>
          <span class="input-group-btn">
            <%= submit_tag "Buscar", :class => "btn btn-default" %>
          </span>
          <% end %>

        </div>
        <!-- /input-group -->
    </div>
    <!-- /.row -->
    <div class="groups-layout">
      <div class="row">
        <h3><%= @page_title %></h3>
      </div>
      <% if @groups.size == 0%>
      <div class="row">
        <div class="col-lg-6">
          <div class="alert alert-info" role="alert" style="width:750px;">
            <%= @groups_not_found %>
          </div>
        </div>
      </div>
      <%else%>
      <div class="row">
        <%@groups.each do |group|%>
        <div class="col-sm-4 col-md-3">

          <div class="thumbnail">
            <%=image_tag("disciplinas_image.png", style: 'padding-top: 0%; padding-left: 0%; height: 40px;')%>
            <div class="caption">
              <h3 style="text-align:center"><%= group.project_name%></h3>
              <p><%= group.project_description %></p>
              <p><%= group.discipline_id %></p>

            </div>
          </div>
        </div>
        <%end%>
      </div>
      <%end%>
    </div>
  </body>
</html>
