<!--
  File name: new.html.erb
  Description: This file contains a form to create a new group
-->
<!DOCTYPE html>
<html lang="en">
  <body>

    <h3>Novo Grupo</h3>

    <%= simple_form_for @groups, url: {action:"create"} do |f| %>
  	  <%= f.input :project_name , :label => "Nome do Projeto", as: :text%>
      <%= f.input :source , :label => "Repositório", as: :text%>
      <%= f.input :project_description , :label => "Descrição", as: :text%>
  	  <%= f.hidden_field :discipline_id, :value => params[:discipline_id]  %>
  	  <!--<%= f.hidden_field :usuer_id, :value => current_usuer.id %>-->
  	  <%= submit_tag "Confirmar",:name => nil, class:"btn btn-primary dropdown-toggle icon-white icon-user" %>

    <%end%>

  </body>
</html>
