<!--
File name: show.html.erb
Description: This file contains what will show independent the page show a specific group in a discipline.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gitting: <%= @group.project_name%></title>
</head>
<body style = "paddin-top=-1%; color:gray;">
  <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">
              <%= @group.project_name%>
            </a>
          </li>
          <li>
            <%= render :partial => 'groups/details' %>
          </li>
        </ul>
      </div>
      <center>
        <div style="padding-top:5%;">
       	<img src= <%= @url %> >
       </div>
      </center>
       <div>
  
       </br>
        <center>
       	<h3>Últimos 5 commits </h3>
       </center>
       </br>
       	<table class="table table-striped">
			<tr>
				<th>Autor</th>
				<th>Menssagem</th>
				<th>Data</th>
			</tr>
		   	 <% for i in 0..5 %>
		    	<tr>
		    		<td><p><%= @commits[i]["commit"]["author"]["name"]%></p></td>
		    		<td><p><%= @commits[i]["commit"]["message"]%></p></td>
		    		<td><p><%= @commits[i]["commit"]["author"]["date"].sub(/T.+/, "")%></p></td>
       
		    	</tr>
		    <% end %>
    	</table>
       </div>

</body>
</html>
