<!--
  File name: application.html.erb
  Description: This file contains what will show independent the page
-->
<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/navbar' %>
  </head>
<body>
  <!-- rendering messages and the layout body to current page -->
  <div>      
    <%= flash_messages %>
    <%= yield %>
    
  </div>
</body>

</html>
