<!--This file contains what will show independent the page -->
<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <body>     
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
               <li><%= link_to "Pagina Inicial", controller: "static_pages", action: "home" %></li>
               <li><%= link_to "Login", controller: "users", action: "new"%></li>
               <li><%= link_to "Sobre nós", controller: "static_pages", action: "about" %></li>
                <li><%= link_to "Contato", controller: "static_pages", action: "contact" %></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
<%= yield %>
</body>
</html>
